{% extends "base.html" %}

{% block body %}
<body>
<div class="single-courses-page">
{% endblock %}

{% block content %}
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 offset-lg-5 col-lg-6">
                        <div class="instructors-info">
                            <div class="instructor-short-info flex flex-wrap">
                                <div class="instructors-stats">
                                    <img src="{{teacher.pic.url}}" class="img-fluid" alt="">
                                    <p>Teacher:{{teacher.name}}</p>
                                    <ul class="p-0 m-0 mt-3">
                                       <li><i class="fa fa-star"></i> 4.7  Average rating</li>
                                        <li><i class="fa fa-comment"></i> 25,182 Reviews</li>
                                        <li><i class="fa fa-user"></i> 11,085 Students</li>
                                        <li><i class="fa fa-play-circle"></i> {{mycourse.count}}</li>
                                    </ul>
                                </div><!-- .instructors-stats -->
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="teacher-content">
        <div class="container-fluid my-5 justify-content-center">
            <div class="row mt-2">
                <div class="col-2 offset-lg-1 col-lg-2 text-left">
                    <div class="header-bar-search" style="margin-top: -8px;margin-left: 0px;">
                        <form class="flex align-items-stretch">
                            <input type="search" placeholder="搜尋課程">
                            <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 text-left">
                    <div class="dropdown show">
                        <a class=" dropdown-toggle btn-sort" href="?sort=newest" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if sort == 'newest' %}
                                最新
                            {% else %}
                                最舊
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="?sort=oldest">最舊</a>
                          <a class="dropdown-item" href="?sort=newest">最新</a>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-4 col-lg-2 text-right">
                    <a href="/course/new/"><button type="button" class="btn  btn-new">新課程</button></a>
                </div>
            </div>
            {% for c in mycourse %}
            <div class="row mt-5">
                <div class="col-10 offset-lg-1 col-lg-10">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center teacher-index"> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{c.course_pic.url}}" width="135" height="70" /> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto text-left">
                                            <h5 class="mb-0">{{c.course_name}}</h5>
                                        </div>
                                        <!-- <div class="col-auto my-auto"> <small>Golden Rim </small></div>
                                        <div class="col my-auto"> <small>Size : M</small></div>
                                        <div class="col my-auto"> <small>Qty : 1</small></div> -->
                                        <div class="col my-auto">
                                            <a href="/course/edit/{{ c.course_id }}"><button type="button" class="btn btn-edit">編輯</button></a>
                                            <a href="/course/delete/{{ c.course_id }}"><button type="button" class="btn btn-dark">刪除</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
