{% extends "base.html" %}

{% block head %}
<script src="https://cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>
<style>
    .form-control { margin-bottom: 10px; }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
</style>
{% endblock %}

{% block body %}
{% load tag_library %}
<body class="contact-page">
{% endblock %}

{% block content %}
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1>Edit</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row">
            <div class="m-auto p-4 col-xs-12 col-sm-12 col-md-10 well well-sm card shadow" style="margin-top: 5vh!important;">
                <legend class="text-left"></a>教材內容編輯</legend>
                <form action="" method="post" class="form" role="form">
                {% csrf_token %}
                    教材標題
                    <input class="form-control" name="lesson_name" placeholder="輸入您的教材標題" type="text" required autofocus value="{{ lesson.lesson_name }}"/>
                    Youtube影片上傳
                    <input class="form-control" name="lesson_video" placeholder="輸入您的教材影片網址" type="text" required autofocus value="{{ lesson.lesson_video|youtube_url }}"/>
                    教材內容
                    <textarea name="text-editor">
                        {{ lesson.lesson_content }}
                    </textarea>          
                    <legend class="text-left">作業</legend>   
                    題目   
                    <input class="form-control" name="homework_title" placeholder="輸入您的作業標題" type="text" autofocus value="{{ lesson.homework_title }}"/>
                    說明   
                    <textarea name="homework_description">
                        {{ lesson.homework_description }}
                    </textarea>     
                    附件
                    <input type="file" class="filepond"  name="filepond"  data-max-file-size="5MB"/>
                    <input type="hidden" name="course_id" value="{{ course_id }}">
                    Python線上編譯器<br>
                    <label class="radio-inline ">
                        <input type="radio" name="if_compiler" value="False" checked="checked"/>
                        否
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="if_compiler" value="True" />
                        是
                    </label>
                    <div class="col-lg-12 text-center align-self-center mt-3">
                        <input type="submit" class="account-submit" value="儲存">  
                    </div>
                </form>
            </div>
        </div>
    </div><!-- .container -->
{% endblock %}

{% block footer %}
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script> 
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script> 
    
    
    <script>
    CKEDITOR.replace( 'text-editor' );
    CKEDITOR.replace( 'homework_description' );

    FilePond.registerPlugin(
        // encodes the file as base64 data
        FilePondPluginFileEncode,
        
        // validates files based on input type
        FilePondPluginFileValidateType,

        // validates the size of the file
        FilePondPluginFileValidateSize,
        
        // corrects mobile image orientation
        FilePondPluginImageExifOrientation,
        
        // previews dropped images
        FilePondPluginImagePreview,

        // crops the image to a certain aspect ratio
        FilePondPluginImageCrop,

        // resizes the image to fit a certain size
        FilePondPluginImageResize,

        // applies crop and resize information on the client
        FilePondPluginImageTransform
    );
    
    // Select the file input and use create() to turn it into a pond
    const pond = FilePond.create(
        document.querySelector('.filepond'),
        {
             {% if lesson.homework_attachment != None and lesson.homework_attachment != '' %}
            files: [
                {
                    source: '{{ lesson.homework_attachment }}',
                    options: {
                        type: 'local',
                     
                    }
                }
            ],
             server: {
                 load: (source, load, error, progress, abort, headers) => {
                    var myRequest = new Request(source);
                    fetch(myRequest).then(function(response) {
                    response.blob().then(function(myBlob) {
                        load(myBlob);
                    });
                    });         
                },
                process:(fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                    load();
                },
                revert: null,
             },
            {% endif %}
            labelIdle: `請將檔案拖曳至此或 <span class="filepond--label-action">瀏覽</span>`,
            //instantUpload:false,
        //     imagePreviewHeight: 170,
        //     imageCropAspectRatio: '1:1',
        //     imageResizeTargetWidth: 200,
        //     imageResizeTargetHeight: 200,
        //     stylePanelLayout: 'compact circle',
        //     styleLoadIndicatorPosition: 'center bottom',
        //     styleButtonRemoveItemPosition: 'center bottom'
        }
    );

    const pond2 = document.querySelector('.filepond');
    pond2.addEventListener('FilePond:removefile', e => {
            pond.server = null;
            pond.files = null;
        
    });

    </script>
  {% endblock %}