{% extends "base.html" %}
{% block head %}
{% load i18n %}
{% load tag_library %}
<script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script>

<link href="https://cdn.ckeditor.com/4.14.1/full-all/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
<script src="https://cdn.ckeditor.com/4.14.1/full-all/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<style>
    span {
        font-family: MyCustomFont!important;
    }
</style>

<script>
function DateFormat(strdate){
    const time = Date.parse(strdate);
    const date = new Date(time); 
    const formattedDate = date.toLocaleDateString('en-GB', {
        day: 'numeric', month: 'short', year: 'numeric'
    }).replace(/ /g, '-');

    return formattedDate;
}
$(document).ready(function(){
    $('.ball-clip-rotate').hide();
    $("#input_tab").val('index');

    $(".a_href").click(function() {
        $(".a_href").each(function(){
            var temp = $(this).html();
            temp = temp.replace("<span>", "");
            temp = temp.replace("/<span>", "");
            $(this).html(temp); 
        });
        var content = $(this).html();
        $(this).html("<span>"+content+"</span>");
        var current_tab = $("#input_tab").val();
        var clicked_tab = $(this).attr("id");

        $(".tab_"+current_tab).addClass("d-none");
        $(".tab_"+clicked_tab).removeClass("d-none");
        $("#input_tab").val(clicked_tab);
        
    });

    $(".browse_note").click(function() {
        var note_id = $(this).siblings(".note_id").val();
        $.ajax({
            url: "{% url 'browse_note' %}",
            type: 'POST',
            data: { note_id:note_id },
            dataType: 'json',
            success: function(data) {
                $(".tab_note").addClass("d-none");
                $(".note_sharing").removeClass("d-none");
                $(".note_sharing").find("img").attr("src",data[0].student__pic);
                $(".note_sharing").find(".author-name").html(data[0].student__name);
                $(".note_sharing").find(".div_note").html(data[0].note);
            },
            error: function(XMLHttpRequest, status, error) {
                //console.log(XMLHttpRequest.responseText);
                alertify.error('發生錯誤！')
            }
        });
    });

    $(".btn-dark").click(function() {
        $(".note_sharing").addClass("d-none");
        $(".tab_note").removeClass("d-none");
    });


    $("#comment_submit").click(function() { 
        $.LoadingOverlay("show");
        var question = $("textarea#comment_question").val();
        if(question != "")
        {
            $.ajax({
                url: "{% url 'comment' %}",
                type: 'POST',
                data: { question:question,lesson_id:{{ lesson_id }}  },
                dataType: 'json',
                success: function(data) {
                    
                    $("#comment_question").val("");
                    
                    $(".comments-number").html("此課程有"+data.length+"個問題");

                    $(".comment-list").empty();
                    $.each(data, function(index) {
                        var part1 = '<li class="comment">\
                                                        <article class="comment-body">\
                                                            <figure class="comment-author-avatar">\
                                                                <img src="'+data[index].questioner__pic+'" alt="">\
                                                            </figure>\
                                                            <div class="comment-wrap">\
                                                                <div class="comment-author">\
                                                                    <span class="comment-meta d-block">\
                                                                        <span>'+DateFormat(data[index].created_at)+'</span>\
                                                                    </span>\
                                                                    <span class="fn">'+data[index].questioner__name+'\
                                                                    </span>\
                                                                </div>\
                                                                <p>'+data[index].question_content+'</p>\
                                                                <div class="reply">\
                                                                    <a class="btn_reply" >回覆</a>\
                                                                </div>\
                                                            </div>\
                                                            <div class="clearfix"></div>\
                                                        </article>';
                        

                         const answer = data[index].answer;
                         var part2 = '';
                         if(answer.length > 0){
                            $.each(answer, function(index) {
                                part2 += ' <ol class="children answer-ol">\
                                                                <li class="comment">\
                                                                    <article class="comment-body">\
                                                                        <figure class="comment-author-avatar">\
                                                                            <img src="'+answer[index].answerer__pic+'" alt="">\
                                                                        </figure>\
                                                                        <div class="comment-wrap">\
                                                                            <div class="comment-author">\
                                                                                <span>'+DateFormat(answer[index].created_at)+  
                                                                                '</span>'+answer[index].answerer__name+'\
                                                                            </div>\
                                                                            <p>'+answer[index].answer_content+'</p>\
                                                                        </div>\
                                                                        <div class="clearfix"></div>\
                                                                    </article>\
                                                                </li>\
                                                            </ol>';

                            });
                         }
                         var part3 = '<ol class="children reply-comment d-none">\
                                                            <li class="comment">\
                                                                <form action="javascript:void(0);" class="comment-form">\
                                                                    <input type="hidden" class="question_id" value="'+data[index].question_id+'">\
                                                                    <input type="text" class="reply_text" placeholder="回覆">\
                                                                    <button class="reply_submit" >留言</button>\
                                                                </form>\
                                                            </li>\
                                                        </ol>\
                                                </li>';

                         $(".comment-list").append(part1+part2+part3);
                    });
                    $.LoadingOverlay("hide");
                },
                error: function(XMLHttpRequest, status, error) {
                    //console.log(XMLHttpRequest.responseText);
                    $.LoadingOverlay("hide");
                    alertify.error('發生錯誤！')
                }
            });
        }
    });

    //顯示回覆textarea
    $('#comment-list').on('click', '.btn_reply', function() {
        if($(this).parents("li").find(".reply-comment").hasClass("d-none")){
            $(this).parents("li").find(".reply-comment").removeClass("d-none");
            $('html,body').animate({
                scrollTop: ($(this).parents("li").find(".reply-comment").offset().top)-300
            }, 'slow');
        }else{
            $(this).parents("li").find(".reply-comment").addClass("d-none");

        }
    });

    //點擊回覆留言
    $('#comment-list').on('click', '.reply_submit', function() {
        $.LoadingOverlay("show");
        const answer = $(this).prev().val();
        const question_id = $(this).prev().prev().val();
        const ol = $(this).parents(".reply-comment");
         $.ajax({
                url: "{% url 'reply' %}",
                type: 'POST',
                data: { answer:answer,question_id:question_id },
                dataType: 'json',
                success: function(data) {
                    $(".comments-number").html("此課程有"+data.length+"個問題");

                    $(".comment-list").empty();
                    $.each(data, function(index) {
                        var part1 = '<li class="comment">\
                                                        <article class="comment-body">\
                                                            <figure class="comment-author-avatar">\
                                                                <img src="'+data[index].questioner__pic+'" alt="">\
                                                            </figure>\
                                                            <div class="comment-wrap">\
                                                                <div class="comment-author">\
                                                                    <span class="comment-meta d-block">\
                                                                        <span>'+DateFormat(data[index].created_at)+'</span>\
                                                                    </span>\
                                                                    <span class="fn">'+data[index].questioner__name+'\
                                                                    </span>\
                                                                </div>\
                                                                <p>'+data[index].question_content+'</p>\
                                                                <div class="reply">\
                                                                    <a class="btn_reply" >回覆</a>\
                                                                </div>\
                                                            </div>\
                                                            <div class="clearfix"></div>\
                                                        </article>';
                        

                         const answer = data[index].answer;
                         var part2 = '';
                         if(answer.length > 0){
                            $.each(answer, function(index) {
                                part2 += ' <ol class="children answer-ol">\
                                                                <li class="comment">\
                                                                    <article class="comment-body">\
                                                                        <figure class="comment-author-avatar">\
                                                                            <img src="'+answer[index].answerer__pic+'" alt="">\
                                                                        </figure>\
                                                                        <div class="comment-wrap">\
                                                                            <div class="comment-author">\
                                                                                <span>'+DateFormat(answer[index].created_at)+  
                                                                                '</span>'+answer[index].answerer__name+'\
                                                                            </div>\
                                                                            <p>'+answer[index].answer_content+'</p>\
                                                                        </div>\
                                                                        <div class="clearfix"></div>\
                                                                    </article>\
                                                                </li>\
                                                            </ol>';

                            });
                         }
                         var part3 = '<ol class="children reply-comment d-none">\
                                                            <li class="comment">\
                                                                <form action="javascript:void(0);" class="comment-form">\
                                                                    <input type="hidden" class="question_id" value="'+data[index].question_id+'">\
                                                                    <input type="text" class="reply_text" placeholder="回覆">\
                                                                    <button class="reply_submit" >留言</button>\
                                                                </form>\
                                                            </li>\
                                                        </ol>\
                                                </li>';

                         $(".comment-list").append(part1+part2+part3);
                    });
                    //ol.addClass("d-none");
                    $.LoadingOverlay("hide");
                },
                error: function(XMLHttpRequest, status, error) {
                    $.LoadingOverlay("hide");
                    //console.log(XMLHttpRequest.responseText);
                    alertify.error('發生錯誤！')
                }
        });

        
    });

    $(".homework_submit").click(function(){
        $.LoadingOverlay("show");
        var input_file = $("input[name='filepond']");
        var homework_url = $("input[name='homework_url']").val();
        if($('#share_homework').is(':checked')) {
            var if_share = true;
        } else {
            var if_share = false;
        }
        var file_data = '';
        if(input_file.attr('type') == 'hidden' && input_file.val()!="{{ homework.homework.name }}"){
            file_data = input_file.val();
        }
        
        $.ajax({
            url: "{% url 'upload_homework' %}",
            type: 'POST',
            data: { file:file_data,lesson_id:{{ lesson_id }},homework_url:homework_url,if_share:if_share },
            dataType: 'json',
            success: function(data) {
                $.LoadingOverlay("hide");
                alertify.success('繳交成功！');
            },
            error: function(XMLHttpRequest, status, error) {
                $.LoadingOverlay("hide");
                alertify.error('繳交失敗！');
                console.log(XMLHttpRequest.responseText);
            }
        });
        
    });

    $('#sidebarCollapse').on('click', function () {
            //   $('#sidebar').toggleClass('active');
            $('#div_fixed').toggleClass('active');
    });

    if("{{note.if_share}}"=='True'){
        $("#if_share").prop("checked", true);
    } else {
        $("#if_share").prop("checked", false);
    }

    $('#if_share').change(function() {
        if($('#if_share').is(':checked')) {
            var if_share = true;
        } else {
            var if_share = false;
        }
        $('.ball-clip-rotate').show();
        $.ajax({
            url: "{% url 'update_note' %}",
            type: 'POST',
            data: { lesson_id:{{ lesson_id }},if_share:if_share  },
            dataType: 'json',
            success: function(data) {
                $('.ball-clip-rotate').hide();
            },
            error: function(XMLHttpRequest, status, error) {
                console.log(XMLHttpRequest.responseText);
                alertify.error('發生錯誤！')
                $('.ball-clip-rotate').hide();
            }
        });    
    });
    
        
  
    
});
</script>
{% endblock %}
{% block body %}
<body>
<div id="div_fixed" class="scrollbar">
    <div class="ball-clip-rotate"><div></div></div>
    <div id="sidebarCollapse" class="custom-menu"></div>

    <span class="logo">隨堂筆記   
    </span>
    <div class="div_editor">
        <input type="checkbox" id="if_share" name="if_share" value="">
        <label for="if_share" style="font-size: 16px;color:white">是否分享</label><br>
        <div id="editor">
            {{ note.note  |safe }}
        </div>
        
    </div>
</div>
<div class="single-courses-page">
{% endblock %}

{% block content %}
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1 class="entry-title">Lesson {{ lesson_index }}:{{ lesson.lesson_name }}</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="lesson-video">
        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-9 col-lg-8 offset-lg-1 ">
                    <div class="col-lg-12 video-col"> 
                        {% if lesson.lesson_video != '' %}
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ lesson.lesson_video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% else %}
                            <iframe width="100%" height="100%" src="" frameborder="0" ></iframe>
                        {% endif %}
                    </div>                  
                </div><!-- .col -->
                <div class="col-3 col-lg-3 ">
                    <div class="col-lg-10 video-col chapter-col">
                        {% for lesson in all_lesson %}
                            <p>Lesson {{ forloop.counter }}:
                            <a href="/course/lesson/{{ lesson.lesson_id }}/{{ forloop.counter }}" class="lesson-href">
                                {{ lesson.lesson_name }}
                            </a></p>
                        {% endfor %}
                    </div>
                </div><!-- .col -->
            </div><!--.row -->
        </div><!-- .container -->
    </div><!--.lesson-video -->

    <div class="lesson-content">
        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-9 col-lg-10 offset-lg-1 "> 
                    <ul class="flex justify-content-start align-items-center py-2 pt-md-0 lesson-ul">
                        <li><a href="javascript:void();" style="font-weight: 400;outline: none" class="a_href" id="index"><span>內容</span></a></li>
                        {% if is_teacher is not True%}
                        <li><a href="javascript:void();" style="font-weight: 400;outline: none" class="a_href" id="upload">作業繳交</a></li>
                        {% else %}
                        <li><a href="javascript:void();" style="font-weight: 400;outline: none" class="a_href" id="homework">學生作業區</a></li>
                        {% endif %}
                        <li><a href="javascript:void();" style="font-weight: 400;outline: none" class="a_href" id="qa">問答</a></li>
                        {% if is_teacher is not True%}
                        <li><a href="javascript:void();" style="font-weight: 400;outline: none" class="a_href" id="homework">作業分享</a></li>
                        {% endif %}
                        <li><a href="javascript:void();" style="font-weight: 400;outline: none" class="a_href" id="note">筆記分享</a></li>
                    </ul>
                    <hr width="106%" style="margin-top: -5px;">          
                </div><!-- .col -->
            </div><!--.row -->
            <div class="row justify-content-start">
                <input type="hidden" id="input_tab" value="{{ tab }}">
                <!-- 內容區 -->
                <div class="col-10 col-lg-10 offset-lg-1 teaching-content tab_index"> 
                    {{ lesson.lesson_content|safe}}

                    {% if compiler_url != None %}
                    <iframe height="400px" width="100%" style="margin-top: 50px;" src="{{compiler_url}}" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
                    {% endif %}
                </div><!-- .col -->
                <!-- 內容區end -->
                <!-- 作業區 -->
                <div class="col-10 col-lg-10 offset-lg-1 lesson-homework d-none tab_homework">
                    <h3>{{ lesson.homework_title }}</h3>
                    <p>{{ lesson.homework_description|safe }}</p> 
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">學生</th>
                            <th scope="col">繳交檔案</th>
                            <th scope="col">作業連結</th>
                            <th scope="col">繳交日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if is_teacher is not True%}
                            {% for hw in all_homework %}
                            <tr>
                                <th scope="row">{{ hw.student.name }}</th>
                                <td>{% if hw.homework != None and hw.homework != '' %} 
                                    <a href="/course/download_homework?id={{ hw.id }}">{{ hw.homework|to_str }}</a>
                                    {% endif %}
                                </td>
                                <td>{% if hw.homework_url != "" %}<a href="{{ hw.homework_url }}" target="_blank">作業連結</a>{% endif %}</td>
                                <td>{{ hw.updated_at|date:'Y-m-d' }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            {% for hw in all_homework %}
                            <tr>
                                <th scope="row">{{ hw.homework.0.student.name }}</th>
                                <td>{% if hw.homework.0.homework != None and hw.homework.0.homework != '' %} 
                                    <a href="/course/download_homework?id={{ hw.homework.0.id }}">{{ hw.homework.0.homework|to_str }}</a>
                                    {% endif %}
                                </td>
                                <td>{% if hw.homework.0.homework_url != "" %}<a href="{{ hw.homework.0.homework_url }}" target="_blank">作業連結</a>{% endif %}</td>
                                <td>{{ hw.homework.0.updated_at|date:'Y-m-d' }}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div><!-- .col -->
                <!-- 作業區end -->
                <!-- 問答區 -->
                <div class="col-8 col-lg-8 offset-lg-1 d-none tab_qa">
                    <div class="comments-form">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">提問</h3>
                            <form action="javascript:void(0);" class="comment-form">
                                <textarea rows="4" id="comment_question" placeholder="Ask a question"></textarea>
                                <button id="comment_submit" >留言</button>
                            </form><!-- .comment-form -->
                        </div><!-- .comment-respond -->
                    </div><!-- .comments-form -->
                    <div class="post-comments-wrap">
                        <div class="post-comments mt-1">
                            <h3 class="comments-title"><span class="comments-number">此課程有{{ all_questions|length  }}個問題</span></h3>

                            <ol class="comment-list" id="comment-list">
                                {% for question in all_questions %}
                                <li class="comment">
                                    <article class="comment-body">
                                        <figure class="comment-author-avatar">
                                            <img src="{{question.questioner__pic}}" alt="">
                                        </figure><!-- .comment-author-avatar -->

                                        <div class="comment-wrap">
                                            <div class="comment-author">
                                                <span class="comment-meta d-block">
                                                {% language 'en-GB' %}
                                                    <span>{{question.created_at|date:'d-M-Y'}}</span>
                                                {% endlanguage %}
                                                </span><!-- .comment-meta -->

                                                <span class="fn">
                                                    {{question.questioner__name}}
                                                </span><!-- .fn -->
                                            </div><!-- .comment-author -->

                                            <p>{{question.question_content}}</p>

                                            <div class="reply"> 
                                                <a class="btn_reply">回覆</a>
                                            </div><!-- .reply -->
                                        </div><!-- .comment-wrap -->

                                        <div class="clearfix"></div>
                                    </article><!-- .comment-body -->

                                    {% for answer in question.answer %}
                                    <ol class="children answer-ol">
                                        <li class="comment">
                                            <article class="comment-body">
                                                <figure class="comment-author-avatar">
                                                    <img src="{{answer.answerer__pic}}" alt="">
                                                </figure><!-- .comment-author-avatar -->

                                                <div class="comment-wrap">
                                                    <div class="comment-author">
                                                        <span class="comment-meta d-block">
                                                        {% language 'en-GB' %}
                                                            {{answer.created_at|date:'d-M-Y'}}
                                                        {% endlanguage %}
                                                        </span><!-- .comment-meta -->

                                                        <span class="fn">
                                                            {{answer.answerer__name}}
                                                        </span><!-- .fn -->
                                                    </div><!-- .comment-author -->

                                                    <p>{{answer.answer_content}}</p>
                                                </div><!-- .comment-wrap -->

                                                <div class="clearfix"></div>
                                            </article><!-- .comment-body -->
                                        </li><!-- .comment -->
                                    </ol><!-- .children -->
                                    {% endfor %}
                                    <ol class="children d-none reply-comment"><!-- .reply -->
                                        <li class="comment">
                                            <form action="javascript:void(0);" class="comment-form">
                                                <input type="hidden" id="question_id" value="{{question.question_id}}">
                                                <input type="text" class="reply_text" placeholder="回覆">
                                                <button class="reply_submit" >留言</button>
                                            </form>
                                        </li>
                                    </ol><!-- .reply -->
                                </li><!-- .comment --> 
                                {% endfor %}
                            </ol>
                              

                        
                    </div><!-- .post-comments-wrap -->
                </div>
            </div>
            <!-- 問答區end -->
             <!-- 筆記區 -->
             <div class="col-10 col-lg-10 offset-lg-1 d-none tab_note"> 
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th scope="col">作者</th>
                        <th scope="col">日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for note in note_all %}
                    <tr>
                        <td><a class="browse_note" href="javascript:void();" style="text-decoration: none;"><i class="fas fa-file-word" style="font-size: 20px;margin-right: 5px;"></i>瀏覽筆記</a>
                        <input type="hidden" class="note_id" value="{{ note.id }}">
                        </td>
                        <td>{{ note.student.name }}</td>
                        <td>{{ note.updated_at|date:'Y-m-d' }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- .col -->
            <!-- 瀏覽筆記區 -->
            <div class="col-10 col-lg-10 offset-lg-1 d-none note_sharing"> 
                <div class="single-course-wrap">
                    <button class="btn btn-dark">&laquo; 返回</button>
                    <div class="course-info flex flex-wrap align-items-center">
                        <div class="course-author flex flex-wrap align-items-center mt-3" style="border:none"> 
                            <img src="" alt="">

                            <div class="author-wrap">
                                <label class="m-0">作者</label>
                                <div class="author-name"></div>
                            </div><!-- .author-wrap -->
                        </div><!-- .course-author -->
                    </div><!-- .course-info -->
                    <div class="div_note">

                    </div>
                </div>
            </div>
            <!-- 筆記區end -->
        </div><!-- .container -->
    </div><!--.lesson-content -->
    {% if is_teacher is not True%}
    <div class="col-10 col-lg-10 offset-lg-1 lesson-homework d-none tab_upload homework_upload" >
        {% if lesson.homework_title != "" %}
            <h3>{{ lesson.homework_title }}</h3>
            <p>{{ lesson.homework_description|safe }}</p>
            {% if lesson.homework_attachment %}
            <p>附件：<a href="{{ lesson.homework_attachment.url }}" download>{{ lesson.homework_attachment|to_str }}</a>
            {% endif %}
            <div style="max-width: 50em;" class="mt-2">
                <label>作業繳交區</label>
                    <input type="file" class="filepond input_homework" name="filepond" data-max-file-size="50MB"/>  
                
            </div>
            <div>
                <label>作業連結</label>
                <input class="form-control" name="homework_url" placeholder="輸入您的作業連結url" type="text" autofocus value="{{ homework.homework_url }}" style="max-width: 50em;"/>
            </div>
            <div>
                <label>是否分享</label>
                {% if homework.if_share %}
                <input type="checkbox" id="share_homework" name="share_homework" value="" checked="true">
                {% else %}
                <input type="checkbox" id="share_homework" name="share_homework" value="" >
                {% endif %}
            </div>
            <input type="submit" class="btn homework_submit" value="繳交">  
        {% else %}
        <p>作業尚未公佈</p>
        {% endif %}

    </div>
    {% endif %}
   
    {% endblock %}

    {% block footer %}
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script> 
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script> 
    
    
    <script>
     var text_changed = false;

		 ClassicEditor
    .create( document.querySelector( '#editor' ), {
        placeholder: '新增筆記...'
    } )
	.then(editor => {
		window.editor = editor;

		detectTextChanges(editor);
		detectFocusOut(editor);
	})
    .catch( error => {
        //console.error( error );
    } );

	function detectFocusOut(editor) {
        editor.ui.focusTracker.on('change:isFocused', (evt, name, isFocused) => {
            if (!isFocused && text_changed) {
                text_changed = false;
                var note = editor.getData();
                update_note(note);
                
            }
        });
    }

    function update_note(note) {
        if($('#if_share').is(':checked')) {
            var if_share = true;
        } else {
            var if_share = false;
        }
        alertify.success("Saving...");
        $('.ball-clip-rotate').show();
        $.ajax({
            url: "{% url 'update_note' %}",
            type: 'POST',
            data: { note:note,lesson_id:{{ lesson_id }},if_share:if_share  },
            dataType: 'json',
            success: function(data) {
                $('.ball-clip-rotate').hide();
            },
            error: function(XMLHttpRequest, status, error) {
                //console.log(XMLHttpRequest.responseText);
                alertify.error('發生錯誤！')
            }
        });
    }

    function detectTextChanges(editor) {
        editor.model.document.on('change:data', () => {
            text_changed = true;
        });
    }


    FilePond.registerPlugin(
	  // encodes the file as base64 data
        FilePondPluginFileEncode,
        
        // validates files based on input type
        FilePondPluginFileValidateType,

        // validates the size of the file
        FilePondPluginFileValidateSize,
        
        // corrects mobile image orientation
        FilePondPluginImageExifOrientation,
        
        // previews dropped images
        FilePondPluginImagePreview,

        // crops the image to a certain aspect ratio
        FilePondPluginImageCrop,

        // resizes the image to fit a certain size
        FilePondPluginImageResize,

        // applies crop and resize information on the client
        FilePondPluginImageTransform
    );
    
    // Select the file input and use create() to turn it into a pond
    const pond = FilePond.create(
        document.querySelector('.input_homework'),
        {
            {% if homework %}
             {% if homework.homework != None and homework.homework != '' %} 
                files: [
                    {
                        source: '{{ homework.homework }}',
                        options: {
                            type: 'local',
                        
                        }
                    }
                ],
                server: {
                    load: (source, load, error, progress, abort, headers) => {
                        var myRequest = new Request(source);
                        fetch(myRequest).then(function(response) {
                        response.blob().then(function(myBlob) {
                            load(myBlob);
                        });
                        });         
                    },
                    process:(fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                        load();
                    },
                    revert: null,
                },
             {% endif %}
            {% endif %}
            labelIdle: `請將檔案拖曳至此或 <span class="filepond--label-action">瀏覽</span>`,

        }
    );

    const pond2 = document.querySelector('.input_homework');
    pond2.addEventListener('FilePond:removefile', e => {
            pond.server = null;
            pond.files = null;
        
    });
    </script>
    {% endblock %}




    
    
    