{% extends "base.html" %}

{% block head %}
<style>
    .form-control { margin-bottom: 10px; }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
</style>
{% endblock %}

{% block body %}
<body class="contact-page">
{% endblock %}

{% block content %}
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1>New</h1>
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row">
            <div class="m-auto p-4 col-xs-12 col-sm-12 col-md-10 well well-sm card shadow" style="margin-top: 5vh!important;">
                <legend class="text-left">課程新增</legend>
                <form action="/course/new/" method="post" class="form" role="form">
                {% csrf_token %}
                    課程名稱
                    <input class="form-control" name="course_name" placeholder="輸入您的課程名稱" type="text" required autofocus />
                    程式種類
                    <select name="category" class="form-control">
                    {% for c in category %}
                        <option value="{{c.category_name}}">{{c.category_name}}</option>
                    {% endfor %}
                    </select>
                    課程圖片
                    <input type="hidden" name="pic_url" value="{{ course.course_pic }}"> 
                    <input type="file" class="filepond input_homework"  name="picture"  accept="image/png, image/jpeg, image/gif" data-max-file-size="5MB"/>     
                    課程介紹
                    <textarea rows="4" class="form-control" name="course_introduction" placeholder="輸入您的課程介紹"></textarea>
                    <div class="col-lg-12 text-center align-self-center mt-3">
                        <input type="submit" class="account-submit" value="儲存">  
                    </div>
                </form>

                {% comment %} <div class="single-course-accordion-cont mt-3">
                    <div class="row mt-2  no-gutters">
                        <div class="col-lg-8">
                            <legend>教材內容編輯</legend>
                        </div>
                        <div class="col-lg-4 text-right align-self-center">
                            <button type="button" class="btn-sm btn  btn-new" ><i class="fas fa-plus"></i>&nbsp新增</button>
                        </div>
                    </div> {% endcomment %}
                    <!--  -->
            
                    {% comment %} <div class="entry-contents">
                        <div class="accordion-wrap">
                            <div class="entry-title row no-gutters">
                                <div class="col-md-10 text-left align-self-center">
                                    <h3 class="font-black">
                                        Lesson 1:Introduction to Front End Development
                                    </h3>                                
                                </div>
                                <div class="col-md-2 text-right ">
                                    <button type="button" class="btn btn-edit ">編輯</button> 
                                </div>
                            </div>
                            <div class="entry-title row no-gutters">
                                <div class="col-md-10 text-left align-self-center">
                                    <h3 class="font-black">
                                        Lesson 2:Introduction to Front End Development
                                    </h3>                                
                                </div>
                                <div class="col-md-2 text-right ">
                                    <button type="button" class="btn btn-edit ">編輯</button> 
                                </div>
                            </div>
                        </div>
                    </div><!-- .entry-contents --> {% endcomment %}
                </div><!-- .single-course-accordion-cont  -->
            </div>
        </div>
    </div><!-- .container -->
{% endblock %}

{% block footer %}
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script> 
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script> 
    <script src="https://unpkg.com/cropperjs"></script>  
    <script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
    
    <script>
    FilePond.registerPlugin(
        // encodes the file as base64 data
        FilePondPluginFileEncode,
        
        // validates files based on input type
        FilePondPluginFileValidateType,

        // validates the size of the file
        FilePondPluginFileValidateSize,
        
        // corrects mobile image orientation
        FilePondPluginImageExifOrientation,
        
        // previews dropped images
        FilePondPluginImagePreview,

        // crops the image to a certain aspect ratio
        FilePondPluginImageCrop,

        // resizes the image to fit a certain size
        FilePondPluginImageResize,

        // applies crop and resize information on the client
        FilePondPluginImageTransform,
        FilePondPluginImageEdit,
    );
    
    const crop_editor = {
    // Called by FilePond to edit the image
            // - should open your image editor
            // - receives file object and image edit instructions
            open: (file, instructions) => {
                var editor = document.createElement('div');
                var bg = document.createElement('div');
                bg.style.position = 'fixed';
                bg.style.left = 0;
                bg.style.right = 0;
                bg.style.top = 0;
                bg.style.bottom = 0;
                bg.style.backgroundColor = 'black';
                bg.style.opacity = 0.8;
                bg.style.zIndex = 9997;
                editor.style.position = 'fixed';
                editor.style.left = '300px';
                editor.style.right = '300px';
                editor.style.top = '50px';
                editor.style.bottom = '50px';
                //editor.style.backgroundColor = '#000';
                editor.style.zIndex = 9998;
                document.body.appendChild(bg);  
                document.body.appendChild(editor);  // Create confirm button at the top left of the viewport
                var buttonConfirm = document.createElement('button');
                buttonConfirm.style.position = 'absolute';
                buttonConfirm.style.left = '10px';
                buttonConfirm.style.top = '10px';
                buttonConfirm.style.zIndex = 9999;
                buttonConfirm.textContent = 'Confirm';
                buttonConfirm.addEventListener('click', function() {    // Remove the editor from the view
                    // Get the canvas with image data from Cropper.js
                    const canvasData  = cropper.getCanvasData();
                    const cropData = cropper.getData();
                    const cropAreaRatio = cropData.height / cropData.width;
                    const percentX = (cropData.x + cropData.width / 2) / canvasData.naturalWidth;
                    const percentY = (cropData.y + cropData.height / 2) / canvasData.naturalHeight;

                    const cx = percentX > 0.5 ? 1 - percentX : percentX;
                    const cy = percentY > 0.5 ? 1 - percentY : percentY;

                    let width = canvasData.naturalWidth;
                    let height = width * cropAreaRatio;
                    if (height > canvasData.naturalHeight) {
                    height = canvasData.naturalHeight;
                    width = height / cropAreaRatio;
                    }
                    const rectWidth = cx * 2 * width;
                    const rectHeight = cy * 2 * height;

                    /* Calculate zoom. */
                    const zoom = Math.max(rectWidth / cropData.width, rectHeight / cropData.height);

                    crop_editor.onconfirm({  
                        data: {
                            crop: {
                            center: {
                                x: percentX,
                                y: percentY
                                //x: 0.5,
                                //y: 0.5
                            },
                            flip: {
                                //horizontal: cropData.scaleX < 0,
                                //vertical: cropData.scaleY < 0
                                horizontal: false,
                                vertical: false
                            },
                            zoom: zoom,
                            aspectRatio: cropAreaRatio,
                            //zoom: 2,
                            rotation: 0,
                            //aspectRatio: null
                            }
                        } 
                    });
                    document.body.removeChild(editor); 
                    document.body.removeChild(bg);  
                });
                editor.appendChild(buttonConfirm);
                var image = new Image();
                image.src = URL.createObjectURL(file);
                editor.appendChild(image);
                var cropper = new Cropper(image, { aspectRatio: 1 }); 
            },

            // Callback set by FilePond
            // - should be called by the editor when user confirms editing
            // - should receive output object, resulting edit information
            onconfirm: (output, item) => {
                pond.processFile(item).then(file => {

                   
                });    
            },
            
            // Callback set by FilePond
            // - should be called by the editor when user cancels editing
            oncancel: () => {},

            // Callback set by FilePond
            // - should be called by the editor when user closes the editor
            onclose: () => {}
    };

    
    // Select the file input and use create() to turn it into a pond
    const pond = FilePond.create(
        document.querySelector('.filepond'),
        {
            server: {
                 load: (source, load, error, progress, abort, headers) => {
                    var myRequest = new Request(source);
                    fetch(myRequest).then(function(response) {
                    response.blob().then(function(myBlob) {
                        load(myBlob);
                    });
                    });         
                },
                process:(fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                    var reader = new FileReader();
                    var temp = reader.readAsDataURL(file); 
                    reader.onloadend = function() {
                        var base64data = reader.result;  
                        var arr = base64data.split("base64,");
                        var data = arr[1];

                        var formData = new FormData();
                        formData.append("image", data);            


                        
                        
                        var apiUrl = 'https://api.imgur.com/3/image';
                        var apiKey = '2ab06dc0b67b999';
                        var token = '547aaf1085e77319ffaec1dd10fd868d3b434ca7'
                        var settings = {
                            async: true,
                            crossDomain: true,
                            url: apiUrl,
                            method: "POST",
                            dataType:"JSON",
                            headers: {
                                Authorization: "Client-ID " + apiKey
                            },
                            processData: false,
                            contentType: false,
                            data: formData,
                            beforeSend: function () {
                                
                            },
                            success: function (res) {
                                $('input[name=pic_url]').val(res.data.link);
                                load();
                            },
                            error: function (XMLHttpRequest, status, error) {
                                alertify.error("上傳失敗！");
                                //$.LoadingOverlay("hide");
                                //alert(XMLHttpRequest.responseText);
                                abort();
                            }
                        }
                        $.ajax(settings).done(function (res) {
                            
                        });
                    }
                    
                    
                },
                revert: null,
            },
            labelIdle: `請將圖片拖曳至此或 <span class="filepond--label-action">瀏覽</span>`,
            //instantUpload:true,
            imageEditEditor: crop_editor,  
            
        }
    );

    const pond2 = document.querySelector('.filepond');
    pond2.addEventListener('FilePond:removefile', e => {
            $('input[name=pic_url]').val("");
        
    });
    </script>
{% endblock %}