{% extends "base.html" %}
{% block head %}
<script>
$(document).ready(function(){
    $(".btn-register").click(function() { 
        $.LoadingOverlay("show");
        $.ajax({
            url: "{% url 'course_register' %}",
            type: 'POST',
            data: { course_id:{{course_id}} },
            dataType: 'json',
            success: function(data) {
                $.LoadingOverlay("hide");
                if(data.success){
                    $("#student_count").html(data.student_count);
                    alertify.success('註冊成功！');
                }else{
                    alertify.error('註冊失敗！');
                }
            },
            error: function(XMLHttpRequest, status, error) {
                //console.log(XMLHttpRequest.responseText);
            }
        });
    });

    $("#rating").rating({
		rate: 3.71, // Start to show this rates when page loads
		total: 7, // Number of total votes
		stars: 5, // Number of stars
		readOnly: false,
		// You can translate in your language
		textVote: "rate",
		textVotes: "rates",
		readOnlyMessage: "If you want to rate please login",
		readOnlyLink: "./Login"
	}, function(selected) {

	});
});
</script>
{% endblock %}
{% block body %}
{% load tag_library %}
<body>
<div class="single-courses-page">
{% endblock %}

{% block content %}
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1 class="entry-title">{{course.course_name}}</h1>

                            <div class="ratings flex justify-content-center align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div><!-- .ratings -->
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-10">
                <div class="featured-image">
                    <img src="{{course.course_pic}}" alt="">
                </div>
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-1">
                <div class="post-share">
                </div><!-- .post-share -->
            </div><!-- .col -->

            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="course-info flex flex-wrap align-items-center">
                        <div class="course-author flex flex-wrap align-items-center mt-3">
                            <img src="{{teacher.pic}}" alt="">
                            {% comment %} <img src="https://i.imgur.com/U0aMXu4.jpg"> {% endcomment %}

                            <div class="author-wrap">
                                <label class="m-0">Teacher</label>
                                <div class="author-name">{{teacher.name}}</div>
                            </div><!-- .author-wrap -->
                        </div><!-- .course-author -->

                        <div class="course-cats mt-3">
                            <label class="m-0">Categories</label>
                            <div class="author-name"><a href="#">{{course.category}}</a></div>
                        </div><!-- .course-cats -->

                        <div class="course-students mt-3">
                            <label class="m-0">Student</label>
                            <div class="author-name"><a href="#" id="student_count">{{user_course.count}}</a></div>
                        </div><!-- .course-students -->

                        <div class="buy-course mt-3">
                        {% if is_teacher %}
                            <button class="btn btn-register" disabled>註冊</button>
                        {% else %}
                            <a class="btn btn-register" href="#">註冊</a>
                        {% endif %}
                        </div><!-- .buy-course -->
                    </div><!-- .course-info -->

                    <div class="single-course-cont-section">
                        <h2>Introduction</h2>

                       
                        <p>{{course.course_introduction}}</p>
                    </div>

                    <div class="single-course-accordion-cont mt-3">
                        <header class="entry-header flex flex-wrap justify-content-between align-items-center">
                            <h2>What You'll Learn</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-contents">
                            <div class="accordion-wrap">
                            {% for l in lesson %}
                                <h3 class="entry-title flex flex-wrap align-items-lg-center ">
                                    Lesson {{ forloop.counter }}:<a href="/course/lesson/{{ l.lesson_id }}/{{ forloop.counter }}" class="lecture-group-title lesson-href">{{ l.lesson_name }}</a>
                                </h3>
                            {% endfor %}
                            </div>
                        </div><!-- .entry-contents -->
                    </div><!-- .single-course-accordion-cont  -->

                    <div class="instructors-info mt-5">
                        <header class="entry-heading">
                            <h2 class="entry-title">Instructors</h2>
                        </header><!-- .entry-heading -->

                        <div class="instructor-short-info flex flex-wrap">
                            <div class="instructors-stats">
                                <img src="{{teacher.pic}}" alt="">

                                <ul class="p-0 m-0 mt-3" style="color: #383749;">
                                   <li><i class="fa fa-star"></i> 4.7 Average rating</li>
                                    <li><i class="fa fa-user"></i> {% if teacher_student_count|to_int > 1 %}{{teacher_student_count}} Students
                                                                   {% else %}{{teacher_student_count}} Student{% endif %}</li>
                                    <li><i class="fa fa-play-circle"></i> {% if teacher_course_count|to_int > 1 %}{{teacher_course_count}} Courses
                                                                   {% else %}{{teacher_course_count}} Course{% endif %}</li>
                                </ul>
                            </div><!-- .instructors-stats -->

                            <div class="instructors-details">
                                <div class="ratings flex align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!-- .ratings -->

                                <h2 class="entry-title mt-3">{{course.course_name}}</h2>

                                <div class="course-teacher mt-3">
                                    Teacher: <span>{{teacher.name}}</span>
                                </div><!-- .course-teacher -->

                                <div class="entry-content mt-3">
                                    <p>{{teacher.self_introduction}}</p>
                                </div><!-- .entry-content -->
                            </div><!-- .instructors-details -->
                        </div><!-- .instructor-short-info -->
                    </div><!-- .instructors-info -->
                    <!-- Review -->
                    <div class="instructors-info mt-5">
                        <div class="comments-form">
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Review</h3>
                                <input type="number" name="course_rating" id="course_rating" class="rating" data-empty-value="0" data-icon-lib="" data-active-icon="fas fa-star" data-inactive-icon="far fa-star" value="0"/>   
                                <form action="javascript:void(0);" class="comment-form">
                                    <textarea rows="4" id="comment_question" placeholder="評論"></textarea>
                                    <button id="comment_submit" >送出</button>
                                </form><!-- .comment-form -->
                            </div><!-- .comment-respond -->
                        </div><!-- .comments-form -->
                    </div>
                    <!-- Review end -->

                </div><!-- .single-course-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- single-courses-page -->
{% endblock %}
