{% extends "base.html" %}
{% block head %}
{% load i18n %}
{% load tag_library %}
<script>
$(document).ready(function(){
    $(".btn-register").click(function() { 
        $.LoadingOverlay("show");
        $.ajax({
            url: "{% url 'course_register' %}",
            type: 'POST',
            data: { course_id:{{course_id}} },
            dataType: 'json',
            success: function(data) {
                $.LoadingOverlay("hide");
                if(data.success){
                    $("#student_count").html(data.student_count);
                    alertify.success('註冊成功！');
                    setTimeout(function(){// wait for 5 secs(2)
                        location.reload(); // then reload the page.(3)
                    }, 3000); 
                }else{
                    alertify.error('註冊失敗！');
                }
            },
            error: function(XMLHttpRequest, status, error) {
                //console.log(XMLHttpRequest.responseText);
            }
        });
    });

    $('#course_rating').on('change', function(){
        $('#rating_value').val($(this).val());
    });
    
});
</script>
{% endblock %}
{% block body %}
{% load tag_library %}
<body>
<div class="single-courses-page">
{% endblock %}

{% block content %}
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="entry-header">
                            <h1 class="entry-title">{{course.course_name}}</h1>

                            <div class="ratings flex justify-content-center align-items-center">
                                {% for i in rating_range %}
                                <i class="fa fa-star"></i>
                                {% endfor %}
                            </div><!-- .ratings -->
                        </header><!-- .entry-header -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-10">
                <div class="featured-image">
                    <img src="{{course.course_pic}}" alt="">
                </div>
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-1">
                <div class="post-share">
                </div><!-- .post-share -->
            </div><!-- .col -->

            <div class="col-12 col-lg-8">
                <div class="single-course-wrap">
                    <div class="course-info flex flex-wrap align-items-center">
                        <div class="course-author flex flex-wrap align-items-center mt-3">
                            <img src="{{teacher.pic}}" alt="">
                            {% comment %} <img src="https://i.imgur.com/U0aMXu4.jpg"> {% endcomment %}

                            <div class="author-wrap">
                                <label class="m-0">Teacher</label>
                                <div class="author-name">{{teacher.name}}</div>
                            </div><!-- .author-wrap -->
                        </div><!-- .course-author -->

                        <div class="course-cats mt-3">
                            <label class="m-0">Categories</label>
                            <div class="author-name"><a href="#">{{course.category}}</a></div>
                        </div><!-- .course-cats -->

                        <div class="course-students mt-3">
                            <label class="m-0">Student</label>
                            <div class="author-name"><a href="#" id="student_count">{{user_course.count}}</a></div>
                        </div><!-- .course-students -->

                        <div class="buy-course mt-3">
                        {% if is_teacher or registered %}
                            <button class="btn btn-register" disabled>註冊</button>
                        {% else %}
                            <a class="btn btn-register" href="">註冊</a>
                        {% endif %}
                        </div><!-- .buy-course -->
                    </div><!-- .course-info -->

                    <div class="single-course-cont-section">
                        <h2>Introduction</h2>

                       
                        <p>{{course.course_introduction}}</p>
                    </div>

                    <div class="single-course-accordion-cont mt-3">
                        <header class="entry-header flex flex-wrap justify-content-between align-items-center">
                            <h2>What You'll Learn</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-contents">
                            <div class="accordion-wrap">
                            {% for l in lesson %}
                                <h3 class="entry-title flex flex-wrap align-items-lg-center ">
                                    Lesson {{ forloop.counter }}:<a href="/course/lesson/{{ l.lesson_id }}/{{ forloop.counter }}" class="lecture-group-title lesson-href">{{ l.lesson_name }}</a>
                                </h3>
                            {% endfor %}
                            </div>
                        </div><!-- .entry-contents -->
                    </div><!-- .single-course-accordion-cont  -->

                    <div class="instructors-info mt-5">
                        <header class="entry-heading">
                            <h2 class="entry-title">Instructors</h2>
                        </header><!-- .entry-heading -->

                        <div class="instructor-short-info flex flex-wrap">
                            <div class="instructors-stats">
                                <img src="{{teacher.pic}}" alt="">

                                <ul class="p-0 m-0 mt-3" style="color: #383749;">
                                   <li><i class="fa fa-star"></i> {{teacher_rating}}</li>
                                    <li><i class="fa fa-user"></i> {% if teacher_student_count|to_int > 1 %}{{teacher_student_count}} Students
                                                                   {% else %}{{teacher_student_count}} Student{% endif %}</li>
                                    <li><i class="fa fa-play-circle"></i> {% if teacher_course_count|to_int > 1 %}{{teacher_course_count}} Courses
                                                                   {% else %}{{teacher_course_count}} Course{% endif %}</li>
                                </ul>
                            </div><!-- .instructors-stats -->

                            <div class="instructors-details">
                                <div class="ratings flex align-items-center">
                                    {% for i in rating_range %}
                                    <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div><!-- .ratings -->

                                <h2 class="entry-title mt-3">{{course.course_name}}</h2>

                                <div class="course-teacher mt-3">
                                    Teacher: <span>{{teacher.name}}</span>
                                </div><!-- .course-teacher -->

                                <div class="entry-content mt-3">
                                    <p>{{teacher.self_introduction}}</p>
                                </div><!-- .entry-content -->
                            </div><!-- .instructors-details -->
                        </div><!-- .instructor-short-info -->
                    </div><!-- .instructors-info -->
                    <!-- Review -->
                    
                    
                    <div class="instructors-info mt-5">
                        <div class="comments-form">
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Review</h3>
                                {% if if_review == 0  %}
                                <input type="number" name="course_rating" id="course_rating" class="rating" data-empty-value="0" data-icon-lib="" data-active-icon="fas fa-star" data-inactive-icon="far fa-star" value="0"/>  
                                <form action="{% url 'review' %}" method="post" class="comment-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="course_id" value="{{course.course_id}}"> 
                                    <input type="hidden" name="rating" id="rating_value" value="0"> 
                                    <textarea rows="4" name="review" placeholder="評論"></textarea>
                                    <button id="comment_submit" >送出</button>
                                </form><!-- .comment-form -->
                                {% endif %}
                                <div class="post-comments-wrap">
                                    <div class="reviews">
                                        <ol class="comment-list" id="comment-list">
                                            {% for r in review %}
                                            <li class="comment">
                                                <article class="comment-body">
                                                    <figure class="comment-author-avatar">
                                                        <img src="{{r.reviewer.pic}}" alt="">
                                                    </figure><!-- .comment-author-avatar -->

                                                    <div class="comment-wrap">
                                                        <div class="comment-author">
                                                            <span class="comment-meta d-block">
                                                            {% language 'en-GB' %}
                                                                <a href="#">{{r.created_at|date:'d-M-Y'}}</a>
                                                            {% endlanguage %}
                                                            </span><!-- .comment-meta -->

                                                            <span class="fn">
                                                                <a href="#">{{r.reviewer.name}}</a>
                                                            </span><!-- .fn -->
                                                        </div><!-- .comment-author -->

                                                        <p>{{r.review}}</p>
                                                    </div><!-- .comment-wrap -->

                                                    <div class="clearfix"></div>
                                                </article><!-- .comment-body -->
                                            </li>
                                            {% endfor %}
                                        </ol>
                                    </div><!-- .comment-respond -->
                                </div><!-- .comments-form -->
                            </div><!-- .comment-respond -->
                        </div><!-- .comments-form -->
                    </div>
                    <!-- Review end -->

                </div><!-- .single-course-wrap -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- single-courses-page -->
{% endblock %}
