{% extends "base.html" %}

{% block head %}
<style>
    .filepond--root {
        width:170px;
        margin: 0 auto;
    }

    .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group{
        margin-top: 0;
    }
</style>
<script>
$(document).ready(function(){
    var content = $("#{{tab}}").html();
    $("#{{tab}}").html("<span>"+content+"</span>");

    $('.pic_submit').on("click", function () {
        if($('input[name=pic_data]').val()!=""){
            var file = $('input[name=pic_data]').val();
            var arr = file.split("base64,");
            var data = arr[1];
            var formData = new FormData();
            formData.append("image", data);
               
            var apiUrl = 'https://api.imgur.com/3/image';
            var apiKey = '2ab06dc0b67b999';
            var settings = {
                async: true,
                crossDomain: true,
                url: apiUrl,
                method: "POST",
                datatype: "json",
                headers: {
                    Authorization: "Client-ID " + apiKey
                },
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: function () {
                    $.LoadingOverlay("show");
                },
                success: function (res) {
                    $.ajax({
                        url: "/user/account/pic/",
                        type: 'POST',
                        data: { pic_url:res.data.link  },
                        dataType: 'json',
                        success: function(results){
                            alertify.success("上傳成功！");
                        },
                        error: function(XMLHttpRequest, status, error) {
                            alertify.error("上傳失敗！");
                        }
                    });
                },
                error: function (XMLHttpRequest, status, error) {
                    //console.log(XMLHttpRequest.responseText);
                    alertify.error("上傳失敗！");
                }
            }
            $.ajax(settings).done(function (res) {
                $.LoadingOverlay("hide");
            });
            
        }
    });


});
</script>
{% endblock %}

{% block body %}
{% load tag_library %}
<body>
<div class="single-courses-page">
{% endblock %}

{% block content %}
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">個人檔案</h1>
                    </header><!-- .entry-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
</div><!-- .page-header -->

<div class="lesson-content">
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-12 col-lg-12 "> 
                <ul class="flex justify-content-start align-items-center py-2 lesson-ul">
                    <li><a href="/user/account/" style="font-weight: 400;" id="index">個人資料</a></li>
                    <li><a href="/user/account/pic/" style="font-weight: 400;" id="pic">個人照片</a></li>
                    <li><a href="/user/account/homework/" style="font-weight: 400;" id="homework">已繳作業</a></li>
                </ul>
                <hr width="100%" style="margin-top: 0px;">          
            </div><!-- .col -->
        </div><!--.row -->
        {% if tab == "pic" %}
        <!-- 圖片上傳 -->
        {% comment %} <form action="/user/account/pic/" method="POST" enctype="multipart/form-data"> {% endcomment %}
        <form action="javascript:void(0);">
        {% csrf_token %}
            <input type="hidden" name="pic_data" value="">
            <input type="file" class="filepond input_homework"  name="picture"  accept="image/png, image/jpeg, image/gif" data-max-file-size="5MB"/>   
            <input type="submit" class="account-submit pic_submit" value="儲存">
        </form>
        <!-- 圖片上傳end -->
        {% endif %}
        {% if tab == "index" %}
        <!-- 個人資料 -->
        <div class="row justify-content-start">
            <div class="ml-1 p-4 col-xs-8 col-sm-8 col-md-8 well well-sm " >
                <form action="{% url 'account' %}" method="post" class="form" role="form">
                {% csrf_token %}
                    <div class="flex">
                        <div class="form-block" >
                            姓名
                            <input class="form-control" name="name" placeholder="Name" type="text" value="{{ User.name }}" required autofocus />     
                            {% if perms.course.can_access %}
                            自我介紹<br>
                            <textarea name="self_introduction" class="form-control" rows="5" value="">
                                {{ User.self_introduction }}
                            </textarea>   
                            {% else %}
                            <div class="form-group">
                                就讀科系
                                <input type="text" class="form-control" name="department" placeholder="就讀科系" value="{{ User.department }}">
                            </div> 
                            {% endif %}    
                        </div>
                        <div class="form-block" >
                            {% if perms.course.can_access %}
                            <div class="form-group">
                                就讀科系
                                <input type="text" class="form-control" name="department" placeholder="就讀科系" value="{{ User.department }}">
                            </div> 
                            {% endif %}
                            <div class="form-group">
                                以前是否接觸過程式語言
                                <div class="form-inline">
                                    <label class="radio-inline pb-2 pr-1">
                                        {% if User.language_learnt == '' %}
                                            <input type="radio" name="learnt_before" class="mr-1" id="inlineCheckbox1" value="no" checked="checked"/>
                                        {% else %}
                                            <input type="radio" name="learnt_before" class="mr-1" id="inlineCheckbox1" value="no"/>
                                        {% endif %}
                                        否
                                    </label>
                                    <label class="radio-inline pb-2 pr-1">
                                        {% if User.language_learnt == '' %}
                                            <input type="radio" name="learnt_before" class="mr-1" id="inlineCheckbox2" value="yes"/>
                                        {% else %}
                                            <input type="radio" name="learnt_before" class="mr-1" id="inlineCheckbox2" value="yes" checked="checked"/>
                                        {% endif %}
                                        是
                                    </label>
                                    <input class="form-control form-control-sm" type="text" name="language_learnt" placeholder="程式語言" value="{{ User.language_learnt }}">
                                </div>           
                            </div> 
                        </div>   
                    </div>
                    <input type="submit" class="account-submit" value="儲存">
                </form>
            </div><!-- .col --> 
        </div><!--.row -->
        <!-- 個人資料end -->
        {% endif %}
        <!-- 修課歷史 -->
        {% comment %} <div class="row mt-2 justify-content-center">
            <div class="col-9  col-lg-9">
                <div class="card card-2">
                    <div class="card-body">
                        <div class="media">
                            <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="images/django.jpg" width="135" height="135" /> </div>
                            <div class="media-body my-auto text-right">
                                <div class="row my-auto flex-column flex-md-row">
                                    <div class="col my-auto text-left">
                                        <h5 class="mb-0">Django</h5>
                                    </div>
                                    <!-- <div class="col-auto my-auto"> <small>Golden Rim </small></div>
                                    <div class="col my-auto"> <small>Size : M</small></div>
                                    <div class="col my-auto"> <small>Qty : 1</small></div> -->
                                    <div class="col my-auto">
                                        <button type="button" class="btn btn-edit">進入課程</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  {% endcomment %}
        <!-- 修課歷史end -->
        {% if tab == "homework" %}
        <!-- 已繳作業 -->
        <div class="row justify-content-center">
            <div class="col-11 col-lg-11"> 
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">日期</th>
                        <th scope="col">題目</th>
                        <th scope="col">說明</th>
                        <th scope="col">檔案</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for hw in homework %}
                      <tr>
                        <th scope="row">{{ hw.created_at|date:'Y-m-d' }}</th>
                        <td>{{ hw.lesson.homework_title }}</td>
                        <td>{{ hw.lesson.homework_description|safe  }}</td>
                        <td><a href="{{ hw.homework.url }}">{{ hw.homework|to_str }}</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
        <!-- 已繳作業end --> 
        {% endif %}  
    </div><!-- .container -->
</div><!--.lesson-content -->
{% endblock %}

{% block footer %}
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script> 
    {% comment %} <script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script> {% endcomment %}
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script> 
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script> 
    <script src="https://unpkg.com/cropperjs"></script>  
    {% load static  %}
    <script src="{% static "js/filepond-plugin-image-edit.js" %}"></script>
    
    
    
    <script>
    FilePond.registerPlugin(
        // encodes the file as base64 data
        FilePondPluginFileEncode,
        
        // validates files based on input type
        FilePondPluginFileValidateType,

        // validates the size of the file
        FilePondPluginFileValidateSize,
        
        // corrects mobile image orientation
        FilePondPluginImageExifOrientation,
        
       

        // crops the image to a certain aspect ratio
        FilePondPluginImageCrop,

        // resizes the image to fit a certain size
        FilePondPluginImageResize,

         // previews dropped images
        FilePondPluginImagePreview,

        // applies crop and resize information on the client
        FilePondPluginImageTransform,
        FilePondPluginImageEdit
        
    );
    
    const crop_editor = {
    // Called by FilePond to edit the image
            // - should open your image editor
            // - receives file object and image edit instructions
            open: (file, instructions) => {    
                var editor = document.createElement('div');
                var bg = document.createElement('div');
                bg.style.position = 'fixed';
                bg.style.left = 0;
                bg.style.right = 0;
                bg.style.top = 0;
                bg.style.bottom = 0;
                bg.style.backgroundColor = 'black';
                bg.style.opacity = 0.8;
                bg.style.zIndex = 9997;
                editor.style.position = 'fixed';
                editor.style.left = '300px';
                editor.style.right = '300px';
                editor.style.top = '50px';
                editor.style.bottom = '50px';
                //editor.style.backgroundColor = '#000';
                editor.style.zIndex = 9998;
                document.body.appendChild(bg);  
                document.body.appendChild(editor);  // Create confirm button at the top left of the viewport
                var buttonConfirm = document.createElement('button');
                buttonConfirm.style.position = 'absolute';
                buttonConfirm.style.left = '10px';
                buttonConfirm.style.top = '10px';
                buttonConfirm.style.zIndex = 9999;
                buttonConfirm.textContent = 'Confirm';
                buttonConfirm.addEventListener('click', function() {    // Remove the editor from the view
                    // Get the canvas with image data from Cropper.js
                    const canvasData  = cropper.getCanvasData();
                    const cropData = cropper.getData();
                    const cropAreaRatio = cropData.height / cropData.width;
                    const percentX = (cropData.x + cropData.width / 2) / canvasData.naturalWidth;
                    const percentY = (cropData.y + cropData.height / 2) / canvasData.naturalHeight;

                    const cx = percentX > 0.5 ? 1 - percentX : percentX;
                    const cy = percentY > 0.5 ? 1 - percentY : percentY;

                    let width = canvasData.naturalWidth;
                    let height = width * cropAreaRatio;
                    if (height > canvasData.naturalHeight) {
                    height = canvasData.naturalHeight;
                    width = height / cropAreaRatio;
                    }
                    const rectWidth = cx * 2 * width;
                    const rectHeight = cy * 2 * height;

                    /* Calculate zoom. */
                    const zoom = Math.max(rectWidth / cropData.width, rectHeight / cropData.height);

                    crop_editor.onconfirm({  
                        data: {
                            crop: {
                            center: {
                                x: percentX,
                                y: percentY
                                //x: 0.5,
                                //y: 0.5
                            },
                            flip: {
                                //horizontal: cropData.scaleX < 0,
                                //vertical: cropData.scaleY < 0
                                horizontal: false,
                                vertical: false
                            },
                            zoom: zoom,
                            aspectRatio: cropAreaRatio,
                            //zoom: 2,
                            rotation: 0,
                            //aspectRatio: null
                            }
                        } 
                       
                    });
                   
                    document.body.removeChild(editor); 
                    document.body.removeChild(bg);  
                });
                editor.appendChild(buttonConfirm);
                var image = new Image();
                image.src = URL.createObjectURL(file);
                editor.appendChild(image);
                var cropper = new Cropper(image, { aspectRatio: 1 }); 
            },

            // Callback set by FilePond
            // - should be called by the editor when user confirms editing
            // - should receive output object, resulting edit information
            onconfirm: (output, item) => {
                

                pond.processFile(item).then(file => {
                   
                   
                });               
            },
            
            // Callback set by FilePond
            // - should be called by the editor when user cancels editing
            oncancel: (item) => {},

            // Callback set by FilePond
            // - should be called by the editor when user closes the editor
            onclose: (item) => {
            }
    };


    // Select the file input and use create() to turn it into a pond

    const pond = FilePond.create(
        document.querySelector('.filepond'),
        {
            {% if 'imgur' in user.pic  %}
            files: [
                {
                    source:'{{user.pic}}',
                    options: {
                        type: 'local',
                     
                    }
                }
            ],
            {% endif %}
            server: {
                load: (source, load, error, progress, abort, headers) => {
                    var myRequest = new Request(source);
                    fetch(myRequest).then(function(response) {
                    response.blob().then(function(myBlob) {
                        load(myBlob);
                    });
                    });         
                },
                process:(fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                    var reader = new FileReader();
                    var data = reader.readAsDataURL(file); 
                    reader.onloadend = function() {
                        var base64data = reader.result;    
                        $('input[name=pic_data]').val(base64data);
                        abort();
                    }
                    
                    
                },
                revert: null,
            },
            labelIdle: `請將圖片拖曳至此或 <span class="filepond--label-action">瀏覽</span>`,
            imageEditEditor: crop_editor,  
            //imagePreviewHeight: 170,
            imageCropAspectRatio: '1:1',
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            stylePanelLayout: 'compact circle',
            styleLoadIndicatorPosition: 'center bottom',
            styleButtonRemoveItemPosition: 'left bottom',
            //allowImageEdit:true,
            //imageEditAllowEdit:true,
            imageEditInstantEdit:true,
            instantUpload:false,
            
            
            
            
        }
    );

    const pond2 = document.querySelector('.filepond');
    pond2.addEventListener('FilePond:addfile', e => {
       
        var reader = new FileReader();
        var data = reader.readAsDataURL(e.detail.file.file); 
        reader.onloadend = function() {
            var base64data = reader.result;    
            //console.log(base64data);
            $('input[name=pic_data]').val(base64data);
        }
    });
    pond2.addEventListener('FilePond:removefile', e => {
            $('input[name=pic_data]').val("");
            //pond.server = null;
            //pond.files = null;
        
    });

    



           
    </script>
{% endblock %}