{% extends "base.html" %}

{% block body %}
<body class="contact-page">
{% endblock %}

{% block content %}
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1>Welcome</h1>
                    </header><!-- .entry-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
</div><!-- .page-header -->

<div class="container">
    <div class="row">
        <div class="m-auto p-4 col-xs-12 col-sm-12 col-md-4 well well-sm card shadow" style="margin-top: 5vh!important;">
            <legend class="text-center">Sign In</legend>
            <form action="/user/login/" method="post" class="form" role="form">
                {% csrf_token %}
                <input type='hidden' name='next' value='{{ next }}'>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="username" type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <input type="submit" class="login-submit" value="登入">
                <span style="color:red">{{message}}</span>
            </form>
        </div>
    </div>
</div><!-- .container -->
{% endblock %}
