{% extends "base.html" %}

{% block body %}
{% load tag_library %}

<body class="contact-page">
{% endblock %}

{% block content %}
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1>第{{ group_id }}組討論區</h1>
                    </header><!-- .entry-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="teacher-content">
        <div class="container-fluid my-5 justify-content-center">
            <div class="row mt-2">
                <div class="offset-lg-1 col-lg-3 pt-2 text-left">
                    <h3><b>討論區</b></h3>
                </div>
                <div class="offset-lg-5 col-lg-2 text-right">
                    <a href="/group/post/new/{{ group_id }}"><button type="button" class="btn  btn-new">建立討論</button></a>
                </div>
            </div>
            {% for post in posts %}
            <div class="row mt-2">
                <div class="col-10 offset-lg-1 col-lg-10">
                    <div class="card card-2" onclick=" location.href='/group/post/{{ post.id }}'; ">
                        <div class="card-body forum-card">
                            <div class="media">
                                <div class="sq align-self-center teacher-index">  </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto text-left">
                                            <h5 class="mb-0 post-title">標題：{{post.title}}</h5>
                                        </div>
                                        <!-- <div class="col-auto my-auto"> <small>Golden Rim </small></div>
                                        <div class="col my-auto"> <small>Size : M</small></div>
                                        <div class="col my-auto"> <small>Qty : 1</small></div> -->
                                        <div class="col my-auto">
                                            <h5 class="mb-0">創建者：{{post.creator.name}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
