{% extends "base.html" %}

{% block body %}
{% load tag_library %}
<script>
$(document).ready(function(){
    $(".teacher-index.btn-dark").click(function() { 
        const url = $(this).attr("url");
        alertify.confirm('Warning', '是否確定刪除？', function(){ window.location.replace(url); }
                , function(){ });
    });
});
</script>

<body>
<div class="single-courses-page">
{% endblock %}

{% block content %}
        <div class="page-header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 offset-lg-5 col-lg-6">
                        <div class="instructors-info">
                            <div class="instructor-short-info flex flex-wrap">
                                {% teacher email=teacher.email %}
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="teacher-content">
        <div class="container-fluid my-5 justify-content-center">
            <div class="row mt-2">
                <div class="col-5 offset-lg-1 col-lg-5 text-left d-flex">
                    <a href="/index/teacher"><button type="button" class="btn  btn-dark">返回課程管理</button></a>
                </div>
                <div class="offset-lg-3 col-lg-2 text-right">
                    <a href="/group/new/{{ course.course_id }}"><button type="button" class="btn  btn-new">建立組別</button></a>
                </div>
            </div>
            {% for group in groups %}
            <div class="row mt-5">
                <div class="col-10 offset-lg-1 col-lg-10">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center teacher-index">  </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto text-left">
                                            <a style="text-decoration:none;" href="/group/forum/{{ group.id }}"><h5 class="mb-0">第{{group.group_num}}組</h5></a>
                                        </div>
                                        <!-- <div class="col-auto my-auto"> <small>Golden Rim </small></div>
                                        <div class="col my-auto"> <small>Size : M</small></div>
                                        <div class="col my-auto"> <small>Qty : 1</small></div> -->
                                        <div class="col my-auto">
                                            <a href="/group/forum/{{ group.id }}"><button type="button" class="btn btn-enter">進入討論區</button></a>
                                            <a href="/group/edit/{{ group.id }}"><button type="button" class="btn btn-edit">編輯</button></a>
                                            <a href="/group/delete/{{ group.id }}"><button type="button" class="btn btn-dark">刪除</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
