{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href='{% static "css/group-forum.css" %}'>
<script>
$(document).ready(function(){
    $("#project_submit").click(function(){
        $.LoadingOverlay("show");
        var input_file = $("input[name='filepond']");
        var project_url = $("input[name='project_url']").val();
        var file_data = '';
        if(input_file.attr('type') == 'hidden' && input_file.val()!="{{ group.project.name }}"){
            file_data = input_file.val();
        }

        $.ajax({
            url: "{% url 'upload_project' %}",
            type: 'POST',
            data: { file:file_data,project_url:project_url,group_id:{{ group_id }} },
            dataType: 'json',
            success: function(data) {
                $.LoadingOverlay("hide");
                alertify.success('繳交成功！');
            },
            error: function(XMLHttpRequest, status, error) {
                alertify.success('繳交失敗！');
                $.LoadingOverlay("hide");
                console.log(XMLHttpRequest.responseText);
            }
        });
        
    });
});
</script>
{% endblock %}

{% block body %}
{% load tag_library %}

<body class="contact-page">
{% endblock %}

{% block content %}
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1>第{{ group.group_num }}組討論區</h1>
                    </header><!-- .entry-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
    </div><!-- .page-header -->

    <div class="teacher-content">
        <div class="container-fluid my-5 justify-content-center">
            <div class="row mt-2">
                <div class="offset-lg-1 col-lg-3 pt-2 text-left">
                    <h3><b>討論區</b></h3>
                </div>
                <div class="offset-lg-5 col-lg-2 text-right">
                    <a href="/group/post/new/{{ group_id }}"><button type="button" class="btn  btn-new">建立討論</button></a>
                </div>
            </div>
            {% for post in posts %}
            <div class="row mt-2">
                <div class="col-10 offset-lg-1 col-lg-10">
                    <div class="card card-2" onclick=" location.href='/group/post/{{ post.id }}';">
                        <div class="card-body forum-card">
                            <div class="media">
                                <div class="sq align-self-center teacher-index">  </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto text-left">
                                            <h5 class="mb-0 post-title"><b>標題：{{post.title}}</b></h5>
                                        </div>
                                        <!-- <div class="col-auto my-auto"> <small>Golden Rim </small></div>
                                        <div class="col my-auto"> <small>Size : M</small></div>
                                        <div class="col my-auto"> <small>Qty : 1</small></div> -->
                                        <div class="col my-auto">
                                            <h5 class="mb-0 post-creator"><b>發佈者：{{post.creator.name}}</b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row mt-4">
                <div class="offset-lg-1 col-lg-3 pt-2 text-left">
                    <h3><b>聊天室</b></h3>
                </div>
                <div class="offset-lg-5 col-lg-2 text-right">
                    <a href="/chat/{{ group_id }}" target="_blank"><button type="button" class="btn  btn-grouping">進入聊天室</button></a>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-10 offset-lg-1 col-lg-10">
                    <h3><b>專案繳交區</b></h3>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6 col-lg-6 offset-lg-1 " >
                    <div>
                        <input type="file" class="filepond input_homework" name="filepond" data-max-file-size="50MB"/>  
                    </div>
                </div>    
                <div class="col-1 col-lg-1 text-right offset-lg-3 pt-4" >
                    {% if group.project != None and group.project != '' %} 
                    <a href="/group/download_project?id={{ group.id }}"><i class="fa fa-download" style="font-size: 26px;"></i></a>
                    {% endif %}
                </div> 
                <div class="col-6 col-lg-6 offset-lg-1">
                    <input class="form-control" name="project_url" placeholder="輸入您的專案連結url" type="text" autofocus value="{{ group.project_url }}" style="max-width: 50em;"/>     
                    <input type="submit" id="project_submit" class="btn homework_submit" value="繳交">  
                </div>
            </div>

            <div class="row mt-4">
                <div class="offset-lg-1 col-lg-3 pt-2 text-left">
                    <h3><b>成員</b></h3>
                </div>
                <div class="offset-lg-5 col-lg-2 text-right">
                </div>
            </div>
            <div class="row mt-2">
                <section id="team">
                    {% for member in group.member.all %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="member"> <img src="{{ member.pic }}" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>{{ member.name }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}  
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script> 
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script> 
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script> 
    
    
    <script>
    FilePond.registerPlugin(
	  // encodes the file as base64 data
        FilePondPluginFileEncode,
        
        // validates files based on input type
        FilePondPluginFileValidateType,

        // validates the size of the file
        FilePondPluginFileValidateSize,
        
        // corrects mobile image orientation
        FilePondPluginImageExifOrientation,
        
        // previews dropped images
        FilePondPluginImagePreview,

        // crops the image to a certain aspect ratio
        FilePondPluginImageCrop,

        // resizes the image to fit a certain size
        FilePondPluginImageResize,

        // applies crop and resize information on the client
        FilePondPluginImageTransform
    );
    
    // Select the file input and use create() to turn it into a pond
    const pond = FilePond.create(
        document.querySelector('.input_homework'),
        {
             {% if group.project != None and group.project != '' %} 
                files: [
                    {
                        source: '{{ group.project }}',
                        options: {
                            type: 'local',
                        
                        }
                    }
                ],
                server: {
                    load: (source, load, error, progress, abort, headers) => {
                        var myRequest = new Request(source);
                        fetch(myRequest).then(function(response) {
                        response.blob().then(function(myBlob) {
                            load(myBlob);
                        });
                        });         
                    },
                    process:(fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                        load();
                    },
                    revert: null,
                },
             {% endif %}
            labelIdle: `請將檔案拖曳至此或 <span class="filepond--label-action">瀏覽</span>`,

        }
    );

    const pond2 = document.querySelector('.input_homework');
    pond2.addEventListener('FilePond:removefile', e => {
            pond.server = null;
            pond.files = null;
        
    });
    </script>
    {% endblock %}




    
    
    
