<div class="instructors-stats">
    <img src="{{teacher.pic}}" class="img-fluid" alt="">
    <p>Teacher:{{teacher.name}}</p>
    <ul class="p-0 m-0 mt-3">
       <li><i class="fa fa-star"></i> {{teacher_rating}}  Average rating</li>
        <li><i class="fa fa-user"></i> {% if teacher_student_count > 1 %}{{teacher_student_count}} Students
                                   {% else %}{{teacher_student_count}} Student{% endif %}</li>
        <li><i class="fa fa-play-circle"></i> {% if teacher_course_count|to_int > 1 %}{{teacher_course_count}} Courses
                                   {% else %}{{teacher_course_count}} Course{% endif %}</li>
    </ul>
</div><!-- .instructors-stats -->