{% load static %}
<footer class="site-footer">
    <div class="footer-bar">
        <div class="container">
                <div class="follow-me">
                    <ul class="flex flex-wrap justify-content-center align-items-center">
                        <li><a class="icon-follow" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="icon-follow" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <p class="footer-copyright">
                        <i class="fa fa-envelope"></i>&nbsp M10809202@mail.ntust.edu.tw
                    </p>
                    <p class="footer-copyright">
                        Copyright &copy;2020 All rights reserved | NTUST.SIS-LAB
                    </p>
                </div><!-- follow me -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
</footer><!-- .site-footer -->

<script type='text/javascript' src='{% static "js/jquery.js" %}'></script>
<script type='text/javascript' src='{% static "js/swiper.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/masonry.pkgd.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.collapsible.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom.js" %}'></script>